{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock body_class %}

{% block content %}

    <h1>{{ page.title }}</h1>

    <div>
        {{ page.intro|richtext }}
    </div>

    <div>
        {% for child in blog_posts %}
            {% with post=child.specific %}
                <div>
                    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                    <p>{{ post.intro }}</p>
                    {{ post.body|richtext }}
                </div>
            {% endwith %}
        {% endfor %}
    </div>

{% endblock content %}