{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpostpage{% endblock body_class %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p>{{ page.date }}</p>

    <div>{{ page.intro }}</div>

    <div>
        {{ page.body|richtext }}
    </div>

    <div>
        {% for item in page.gallery_images.all %}
            <div>
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
    </div>

    <p><a href="{{ page.get_parent.url }}">Return to blog index</a></p>

    <div>
        More posts:
        {% for post in page.get_siblings.live %}
            {% if post.specific != page %}
                <p><a href="{% pageurl post %}">{{ post.title }}</a></p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}