{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Django project!</title>
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <a href="/"><h1>Bruform Blog</h1></a>
        
        {% if user.is_authenticated %}
        <p>Welcome back, {{ user.first_name }}!</p>
        <a href="{% url 'post_new' %}"><i class="fa-solid fa-pen-to-square"></i> New post</a>
        {% endif %}
    </header>
    
    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>

