{% extends "blog/base.html" %}

{% block content %}

<div>
    <a href="{% url 'post_list' %}">Back to list</a>
    <a href="{% url 'post_edit' post_number=post.id %}">Edit post</a>
</div>

<div class="post">
    {% if post.published_date %}
        Published : {{ post.published_date }}
    {% else %}
        <a href="{% url 'post_publish' post_number=post.id %}">Publish</a>
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>

    {% if user.is_authenticated %}
    <a href="{% url 'post_delete' post_number=post.id %}">DELETE</a>
    {% endif %}
</div>

<div>
    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add comment</button>
    </form>
</div>

<div>
    {% for comment in comments %}
    <div>
        <p>{{ comment.body }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}